body {
    background: #333;
    font-family: Dosis;
    /*
  margin: 20px 300px 50px 300px; */
    color: #FFF;
    box-sizing: border-box;
    background-size: cover;
    min-height: 100%;
    max-width: 100%;
    max-height: auto;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: #f2f6f8; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */


}

h1 {
    font-size: 4em;
    text-shadow: 4px 2px 4px rgba(100, 100, 100, 0.4);
    text-align: center;
}

h1 span {
    color: red;
    text-shadow: 4px 2px 4px rgba(255, 0, 0, 0.4);
}

.space {
    cursor: default;
    margin: auto; 
    display: block;       
}

.breakSet,
.workSet {
    display: inline-block;
}

button {
    transition: 0.2s;
    color: #CCFFFF;
    background: #333;
    margin: 2px;
    padding: 2px;
}

.breakSet {
    float: left;
    margin-left: 150px;
    color: #33FF99;
    text-align: center;
}

.workSet {
    float: right;
    margin-right: 150px;
    color: #00CCCC;
    text-align: center;
}

.breakPlus,
.breakTime,
.breakMinus,
.workPlus,
.workTime,
.workMinus {
    font-size: 2em;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.setters { /*
    width: 750px; */
    height: 150px;
    border-radius: 30px;
    margin-bottom: 30px;
    background: #666;
}

.circleClock {
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 60%;
    border: 5px solid #E8ED93; /*
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); */
    overflow: hidden;
    cursor: pointer;
    background: #ff8080; /* #4D0000 */
}

.clockTime {
    font-size: 3em;
    text-align: center;
}

.status { 
    font-size: 1.2em; 
}



.footer {
    background: #7EACCC no-repeat 50% 50%;
    background-size: cover;
    min-height: 100%;
    max-width: 100%;
    max-height: auto;
    padding: 5px;
    margin-top: 200px;
    font-size: 1.4em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
    border-top: 8px #E8ED93 outset;
}

.footer p,
a {
    color: #FFF;
    text-decoration: none;
    padding: 0px;
}

.footer ul li {
    display: inline;
    margin: 5px;
    text-align: center;
}

.footer .fa {
    color: #FFF;
    text-align: center;
    font-size: 1.3em;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 1.4;
}

.footer .fa:hover {
    transition: 0.3s;
    text-shadow: 2px 1px 2px #333;
}

.footer .contact .fa:hover {
    background-color: #e6b800;
}

.footer .linkedin .fa:hover {
    background-color: #117BB7;
}

.footer .github .fa:hover {
    background-color: #24478f;
}

.footer .twitter .fa:hover {
    background-color: #007acc;
}

.footer .codepen .fa:hover {
    background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
    background-color: #009933;
}

.footer p span {
    color: #ffff66; 
}

@media screen and (max-width: 315px) {    
    .footer {
        margin-top: 50px;
    }

    .footer ul {
        padding-top: 10px;
        margin: 0px;
    }
    
    .footer ul li {
        width: 100%;
        margin: auto;
        
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }
}

@media screen and (max-width: 850px) {  
    .footer { 
        margin-top: 150px;
    }
    
    .footer .fa {
        font-size: 1.0em;
        padding: 8px;
        margin: 2px;
        width: 25px;
        height: 25px;
        line-height: 1.2;
        display: inline-block;      
    }
    
}