/* Peek-a-boo, I see you! :P */

/*******************************************\
|               INITIAL STYLES              |
\*******************************************/

html, body {
  margin: 0;
  width: 100%;
}

body {
  background-size: cover;
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: #f2f6f8;
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
  flex-direction: column;
  font-family: 'Dosis';
}

/*******************************************\
|             PROJECT CONTAINER             |
\*******************************************/
.pomodoro-container {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 992px;
  width: 100%;
}

h1 {
  color: #80ffaa;
  font-size: 4em;
  text-align: center;
  text-shadow: 4px 2px 4px rgba(100, 100, 100, 0.4);
}

h1 span {
  color: #ff8080;
  text-shadow: 4px 2px 4px rgba(255, 0, 0, 0.4);
}

h2 {
  color: #91b8d4;
  margin-bottom: 40px;
  margin-top: -40px;
  text-align: center;
}

h2 a {
  color: #ff8080;
}

/*******************************************\
|                   TIMER                   |
\*******************************************/
.timer {
  background: #ff8080;
  border-radius: 100%;
  border: 5px solid #80ffaa;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 250px;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
  width: 250px;
}

.timer-length {
  font-size: 3.5em;
  text-align: center;
}

.status {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: -40px;
}

/*******************************************\
|               TIMER SETTERS               |
\*******************************************/
.break-setter,
.session-setter {
  background: #91b8d4;
  border-radius: 10px;
  border: 5px solid #80ffaa;
  color: #FFF;
  display: inline-block;
  font-size: 1.0em;
  font-weight: 300;
  margin-bottom: 30px;
  max-width: 100%;
  min-height: 100%;
  padding: 10px;
  text-align: center;
  width: 240px;
}

.break-setter p,
.session-setter p {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: -5px;
}

.break-setter {
  float: right;
}

.session-setter {
  float: left;
}

.control-button {
  background: #ff8080;
  border-radius: 5px;
  border: 2px solid #80ffaa;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
  color: #80ffaa;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  height: 50px;
  line-height: 1.0;
  margin: 2px;
  padding: 2px;
  transition: 0.2s;
  width: 50px;
}

.reset .control-button {
  height: auto;
  margin: 2px;
  padding: 8px;
  width: auto;
}

.reset {
  text-align: center;
}

.break-length,
.session-length {
  display: inline;
  font-size: 2em;
  padding: 0 10px 0 10px;
}

.setters {
  margin-bottom: 30px;
}

/*******************************************\
|                  FOOTER                   |
\*******************************************/
.footer {
  background-size: cover;
  background: #7EACCC no-repeat 50% 50%;
  border-top: 8px #80ffaa outset;
  flex-shrink: 0;
  font-size: 1.4em;
  margin: 100px auto 0;
  text-align: center;
  width: 100%;
}

.footer .social-list li {
  display: inline;
  margin: 5px;
}

.footer .social-list .fa {
  border-radius: 100%;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.3em;
  height: 40px;
  line-height: 1.4;
  margin: 5px;
  padding: 8px;
  text-align: center;
  transition: 0.3s;
  width: 40px;
}

.footer .contact .fa:hover {
  background-color: #e6b800;
}

.footer .social-list .fa:hover {
  text-shadow: 2px 1px 2px #333;
}

.footer .linkedin .fa:hover {
  background-color: #117BB7;
}

.footer .github .fa:hover {
  background-color: #24478f;
}

.footer .twitter .fa:hover {
  background-color: #007acc;
}

.footer .codepen .fa:hover {
  background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
  background-color: #009933;
}

.footer .footer-note .fa {
  color: #80ffaa;
}

/*******************************************\
|               MEDIA QUERIES               |
\*******************************************/
@media screen and (max-width: 315px) {
  .title {
    font-size: 3.2em;
  }

  h2 {
    line-height: 1.1;
    padding-top: 10px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer .social-list li {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .title {
    line-height: 0.8;
  }

  .timer-length {
    font-size: 2.6em;
  }

  .setters {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .break-setter,
  .session-setter {
    margin: auto !important;
    margin-bottom: 20px !important;
  }

  .footer {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 850px) {
  .timer {
    height: 200px;
    width: 200px;
  }

  .break-setter,
  .session-setter {
    font-size: 0.8em;
    height: 100px;
    margin-top: 30px;
    width: 200px;
  }

  .break-setter {
    margin-right: 50px;
  }

  .session-setter {
    margin-left: 50px;
  }

  .reset .control-button {
    margin-bottom: 20px;
  }

  .footer .social-list .fa {
    display: inline-block;
    font-size: 1em;
    height: 25px;
    line-height: 1.2;
    margin: 2px;
    width: 25px;
  }
}
