/*******************************************\
|                   TIMER                   |
\*******************************************/
.timer {
  background: #1f242d;
  border-radius: 100%;
  border: 4px solid #ff8080;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 250px;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
  width: 250px;
}

.timer-length {
  font-size: 3.5em;
  text-align: center;
}

.status {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: -40px;
}
